<div class="experience">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6">
                <div class="image">
                    <img src="assets/images/demo-01.jpg" alt="">
                </div>
            </div>
            <div class="col-6">
                <div class="number">1.</div>
                <h2>L'histoire sans fin...</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, consequuntur maiores. Quis eos tempore esse dicta pariatur omnis, aspernatur ratione minima nostrum earum vero rerum mollitia sed voluptates, quam perspiciatis.</p>
                <a href="#" class="btn">
                    <span>Découvrir</span>
                </a>
            </div>
        </div>
    </div>
</div>