<div class="introduction">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mb-3">(re)Découvrez Bordeaux</h2>
                <p>Au travers d'expériences narratives, imaginées et réalisées par les étudiants MMI du DUT Bordeaux Montaigne.</p>
                <div class="btn" data-open-screen="experiences">
                    <span>Découvrir</span>
                </div>
            </div>
        </div>
    </div>
</div>