<div class="introduction js-introduction">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="js-animate">{{ site.data.introduction.title }}</h1>
            </div>
            <div class="col-md-6 offset-md-3 text-center">
                <h2 class="mb-3 js-animate">{{ site.data.introduction.subtitle }}</h2>
                <p class="js-animate">{{ site.data.introduction.text }}</p>
                <div class="btn js-animate" data-open-screen="experiences">
                    <span>{{ site.data.introduction.button }}</span>
                </div>
            </div>
        </div>
    </div>
</div>