<div class="block block--1">
    <div class="image">
        <img src="assets/images/demo-05.jpg" alt="">
    </div>
    <div class="image mt-5">
        <img src="assets/images/demo-04.png" alt="">
    </div>
</div>
<div class="block block--2">
    <div class="text">
        <p>
            UN atelier MMI bordeaux du 25 janvier au 5 février
        </p>
        <p>
            Grâce à la participation de L’ATLAS et d’autres artistes, et avec le soutien de la mairie de Bordeaux, les étudiants de L’IUT Métiers du Multimédia et de l’Internet créent des expériences interactives mêlant l’art, la ville et le web.
        </p>
    </div>
    <div class="image mt-5">
        <img src="assets/images/demo-03.png" alt="">
    </div>
</div>