html, body
    background: #EEEEEE
    *
        box-sizing: border-box

h1
    font-weight: 800
    text-align: center
    font-size: 60px
    line-height: 60px
    margin-bottom: 60px
    a:hover
      text-decoration: none
    @include media-breakpoint-down(md)
        font-size: 40px
        line-height: 50px

h2
    font-weight: 800

p
    font-weight: 200

.card-columns
    column-count: 2
    @include media-breakpoint-up(md)
        column-count: 4
    a
        font-weight: 800
        text-decoration: none

.wrapper
    border: 30px solid white
    padding: 60px 0
    position: relative
    z-index: 10
    min-height: 100vh
    min-height: calc(var(--vh, 1vh) * 100)
    &__main
        position: relative
        z-index: 10
    @include media-breakpoint-down(sm)
        border-width: 10px


footer
    a
        color: #666666
