.header
    position: fixed
    left: 0
    top: 0
    bottom: 0
    background: $white
    width: 100px
    h1
        color: $black
        font-weight: bold
        position: absolute
        top: 50%
        left: 50%
        white-space: nowrap
        text-align: center
        font-size: 60px
        transform: rotate(-90deg) translate(9%, -315%)
