.screen
    opacity: 0
    display: none
    height: 100%
    position: absolute
    left: 0
    right: 0
    overflow-y: auto
    &__center
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        +media-breakpoint-down($sm)
            padding: 50px 0
