.screen
    opacity: 0
    display: none
    height: 100%
    position: absolute
    left: 0
    right: 0
    overflow-y: auto
    &__center
        min-height: 100%
        display: flex
        align-items: center
        justify-content: center
        +media-breakpoint-down($sm)
            padding: 50px 0

#loader
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: $black
    z-index: 100
    display: flex
    align-items: center
    justify-content: center
    img
        width: 200px
        height: auto