html, body
    // font-family: $secondary-font
    font-family: $primary-font
    letter-spacing: 0.06em
    font-size: 18px
    font-weight: 200
    line-height: 32px

h2
    font-size: 30px
    margin-bottom: 20px
    line-height: 38px

h3
    font-size: 20px
    font-weight: normal
    margin-bottom: 20px